<?php

$config = [
    [
        'backup' =>   '',
        'host' =>     '',
        'database' => '',
        'user' =>     '',
        'password' => '',
    ],
    /* more...
    [
        'backup' =>   '',
        'host' =>     '',
        'database' => '',
        'user' =>     '',
        'password' => '',
    ],
    */
];
